<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="internalOnly" package="org.altervista.numerone.numfortune" android:versionCode="4" android:versionName="2.0">
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="numfortune" android:icon="@drawable/icon" />
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="33" />
</manifest>